/* ----- Color_variables Start ----- */
$grey: #858D90;

/* ----- Color_variables End ----- */







/* ----- Font_sizes Start ----- */
.fs-1px{
    font-size: 1px;
}
.fs-2px{
    font-size: 2px;
}
.fs-3px{
    font-size: 3px;
}
.fs-4px{
    font-size: 4px;
}
.fs-5px{
    font-size: 5px;
}
.fs-6px{
    font-size: 6px;
}
.fs-7px{
    font-size: 7px;
}
.fs-8px{
    font-size: 8px;
}
.fs-9px{
    font-size: 9px;
}
.fs-10px{
    font-size: 10px;
}
.fs-11px{
    font-size: 11px;
}
.fs-12px{
    font-size: 12px;
}
.fs-13px{
    font-size: 13px;
}
.fs-14px{
    font-size: 14px;
}
.fs-15px{
    font-size: 15px;
}
.fs-16px{
    font-size: 16px;
}
.fs-17px{
    font-size: 17px;
}
.fs-18px{
    font-size: 18px;
}
.fs-19px{
    font-size: 19px;
}
.fs-20px{
    font-size: 20px;
}
.fs-21px{
    font-size: 21px;
}
.fs-22px{
    font-size: 22px;
}
.fs-23px{
    font-size: 23px;
}
.fs-24px{
    font-size: 24px;
}
.fs-25px{
    font-size: 25px;
}
.fs-26px{
    font-size: 26px;
}
.fs-27px{
    font-size: 27px;
}
.fs-28px{
    font-size: 28px;
}
.fs-29px{
    font-size: 29px;
}
.fs-30px{
    font-size: 30px;
}
.fs-31px{
    font-size: 31px;
}
/* ----- Font_sizes End ----- */










/* ----- BG_Color_classes Start ----- */
.bg-muted{
    background: #858D90;
}
.bg-black{
    background: #000000;
}
.bg-blue{
    background: #2886FF!important;
}
.bg-green{
    background: #379c7c;
}
/* ----- Color_classes End ----- */





.h-0{
    height: 0%;
}
.h-25{
    height: 25%;
}
.h-50{
    height: 50%;
}
.h-75{
    height: 75%;
}
.h-100{
    height: 100%;
}






.w-0{
    width: 0%;
}
.w-25{
    width: 25%;
}
.w-50{
    width: 50%;
}
.w-75{
    width: 75%;
}
.w-100{
    width: 100%;
}






.cursor-pointer{
    cursor: pointer;
}









.border-top{
    border-top: 2px solid #F5F5F5
}
.border-right{
    border-right: 2px solid #F5F5F5
}
.border-left{
    border-left: 2px solid #F5F5F5
}
.border-bottom{
    border-bottom: 2px solid #F5F5F5
}



/* ----- Color_classes Start ----- */
.tab-slider-color{
    color: #80E1C2
}
.text-muted{
    color: #858D90;
}
.text-black{
    color: #000000;
}
.text-blue{
    color: #2886FF;
}
.text-red{
    color: #E74C3C;
}
.text-green{
    // color: #379c7c;
    color: #80E1C2;
}
.text-white{
    color: #ffffff;
}
/* ----- Color_classes End ----- */










/* ----- Other_classes Start ----- */
.slash-offset{
    margin: 0 5px;
}
.img-width-20px{
    width: 20px;
}
.table-header{
    font-style: normal;
    font-weight: 500;
    color: #858D90;
}
.hover:hover{
    background: #F5F5F5 !important;
}


/* ----- Other_classes End ----- */









/* ----- Filters Start ----- */
.filter-green{
    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
}
.filter-black{
    filter: brightness(0%);
}
/* ----- Filters End ----- */